#banner h3 {
  font-size: 4em;
  line-height: 1.1;
  font-family: "Lobster", cursive;
  margin-bottom: .25em;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
  text-transform: none;
}
